name: Build and Package

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # Allows you to run it manually

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x # Adjust this to your project's version

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Publish
      run: dotnet publish --configuration Release --no-build --output ./publish

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: DataverseSchemaGenerator-Binary
        path: ./publish/
